.Layout_main {
    position: relative;
    top: 0;
    left: 24rem;
    width: calc(100% - 24rem);
    height: 100%;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    //padding: 1.5rem 5.4rem 3rem;
    padding: 1.5rem 5.4rem 0;
    background-color: #f8f9fa;
    background-image: url('https://baobab.scope.klaytn.com/images/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
