.ListTemplate__common {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;

    .ListTemplate__header {
        margin-bottom: 1.5rem;
        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .ListTemplate__title {
            display: flex;
            float: left;
            margin-top: 10px;
            //font-size: 28px;
            font-size: 2.8rem;
            font-weight: 700;
            color: #000;
        }
    }

    .MainList {
        padding: 0 4rem 2.5rem;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 4px 6px 0 rgb(0 0 0 / 4%);

        .ListTemplate__content__isMain {
            background-color: transparent;
            border-radius: 5px;

            .MainList__table {
                .Table {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 2.5rem;
                    border-collapse: collapse;

                    .Table__thead {
                        display: flex;
                        justify-content: space-between;
                        height: 45px;
                        border-bottom: 1px solid #e1e1e7;
                        vertical-align: middle;

                        .Table__th__right {
                            text-align: right;
                        }

                        .Table__th {
                            font-weight: 700;
                            color: #313557;
                            display: inline-block;
                            height: 100%;
                            line-height: 45px;
                            text-transform: uppercase;
                            letter-spacing: 0.4px;
                            vertical-align: middle;
                            font-size: 12px;

                            .BlockList__unitHeader {
                                display: inline-block;
                                vertical-align: middle;
                                margin-top: -1px;
                                line-height: 1.2;
                                text-align: center;
                                span {
                                    display: inline-block;
                                    margin-left: 0;
                                }
                            }

                            .TxList__fromToTh {
                                .FromTo__header {
                                    width: 11rem;
                                    text-align: center;
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .Table__tbody {
                        .Table__tr {
                            display: flex;
                            justify-content: space-between;
                            height: 42px;
                            margin-top: -1px;
                            border-bottom: 1px solid #f8f8f8;
                            border-color: hsla(0, 0%, 100%, 0.08);

                            .Table__td {
                                height: 100%;
                                line-height: 42px;
                                display: inline-block;
                                vertical-align: top;
                                font-size: 1.3rem;
                                color: #222;
                                font-weight: 400;

                                .CroppedTxWithLink {
                                    position: relative;
                                    display: inline-block;

                                    a {
                                        text-decoration: none;
                                        transition: all 0.1s ease-in-out;
                                        position: relative;
                                        display: inline-block;
                                        height: 24px;
                                        line-height: 24px;
                                        border-radius: 2px;
                                        vertical-align: middle;
                                        text-align: center;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        padding: 0 3px 0 8px;
                                        font-size: 1.3rem;
                                        font-weight: 400;
                                        width: 130px;
                                        color: #222;
                                        background-color: hsla(0, 0%, 100%, 0.1);
                                    }
                                }

                                .CroppedTxWithLink__address {
                                    width: 70%;
                                    display: inline-block;

                                    a {
                                        background-color: #f0f2fc;
                                        width: 100%;
                                    }
                                }

                                .TimeDelta {
                                    color: #888;
                                    vertical-align: top;
                                }

                                .numberData {
                                    color: #222;
                                    font-weight: bold;
                                }
                            }

                            .Table__td__right {
                                text-align: right;
                            }
                        }
                    }

                    .FromTo__arrow {
                        opacity: 0.7;
                        display: inline-block;
                        width: 2.6rem;
                        height: 0.8rem;
                        vertical-align: middle;
                        background: 50% / contain no-repeat
                            url('https://baobab.scope.klaytn.com/icons/icon-arrow-scope.svg');
                    }
                    .FromTo__arrow.white__arrow {
                        background: 50% / contain no-repeat
                            url('https://baobab.scope.klaytn.com/icons/icon-arrow-white.svg');
                    }
                }

                .Paginator {
                    position: relative;
                    text-align: center;

                    a {
                        cursor: pointer;
                        background-color: transparent;
                        font-size: 1.3rem;
                        font-weight: 400;
                        display: block;
                        width: 4.5rem;
                        height: 3.6rem;
                        line-height: 36px;
                        border: 0;
                        padding: 0;

                        img {
                            height: 10px;
                        }

                        &:hover {
                            border: 1px solid #000;
                        }
                    }

                    .disabledLink {
                        cursor: not-allowed;
                        pointer-events: none;

                        img {
                            opacity: 0.3;
                        }
                    }

                    ul {
                        li {
                            display: inline-block;
                            vertical-align: top;
                            border: 1px solid #e4e7f0;
                            border-radius: 2px;
                            font-size: 12px;

                            border-color: rgba(181, 183, 201, 0.3);
                            margin-left: 0.4rem;
                            color: #b5b7c9;

                            &:nth-child(1) {
                                margin-right: 0.4rem;
                            }
                            &:nth-child(2) {
                                margin-right: 1.6rem;
                                transition: border-color 0.1s ease-in-out;
                            }

                            &:nth-child(3) {
                                border: 1px solid #e4e7f0;
                                border-radius: 2px;
                                margin-left: 0.4rem;
                                transition: border-color 0.1s ease-in-out;
                                width: 121px;
                                display: inline-block;
                                vertical-align: top;

                                div {
                                    width: 100%;
                                    height: 3.6rem;
                                    line-height: 3.6rem;
                                    text-align: center;
                                    padding: 0;
                                    border: 0;
                                    font-size: 1.2rem;
                                    font-weight: 400;
                                    background-color: transparent;

                                    display: grid;
                                    grid-template-columns: 48% 5% 48%;
                                    gap: 1%;

                                    input {
                                        position: relative;
                                        border: none;
                                        width: 100%;
                                        text-align: right;
                                        font-size: 12px;

                                        &:focus {
                                            outline: none;
                                        }
                                    }

                                    p {
                                        color: #000;
                                        text-align: left;
                                    }
                                }

                                &:hover {
                                    border: 1px solid #000;
                                }
                            }

                            &:nth-child(4) {
                                margin-left: 2rem;
                                transition: border-color 0.1s ease-in-out;
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                            &:nth-child(5) {
                                margin-left: 0.4rem;
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        .ListTemplate__bottom {
            text-align: center;

            .ListTemplate__moreButton {
                display: inline-block;
                width: 210px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                padding: 0;
                font-size: 12px;
                transition: background-color 0.1s;
                color: #fff;
                background-color: hsla(0, 0%, 100%, 0.06);
                border: none;
                border-radius: 23px;
            }
        }
    }
}
